!src/pas
*.egg-info
*.log
*.mo
*.pyc
*.swp
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
buildout.cfg
develop-eggs/
downloads
eggs
htmlcov/
include/
lib/
local/
output.xml
parts/
src/*
var/
