.vscode/
!src/pas
*.egg-info
*.log
*.mo
*.pyc
*.swp
.Python
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings/
bin/
buildout-cache/
buildout.cfg
develop-eggs/
devsrc/*
downloads
eggs
htmlcov/
include/
lib/
lib64/
local/
output.xml
parts/
share/
var/
log.html
report.html
selenium-screenshot-*.png
pip-selfcheck.json
docs/Makefile
docs/make.bat
docs/doctrees/
docs/html/
