[buildout]
index = https://pypi.python.org/simple
extensions = mr.developer
parts =
    instance
    test
    code-analysis
    coverage
    test-coverage
    robot
    releaser
    i18ndude
    black
    isort
    zopepy
    omelette
    sphinxbuilder

develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    pas.plugins.memberpropertytogroup [test]


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/pas/plugins/memberpropertytogroup
flake8-exclude = bootstrap.py,bootstrap-buildout.py,docs,*.egg.,omelette
flake8-max-complexity = 15


[test]
recipe = zc.recipe.testrunner
eggs = pas.plugins.memberpropertytogroup[test]
defaults = ['-s', 'pas.plugins.memberpropertytogroup', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/coverage run --source=${buildout:directory}/src/pas/plugins/memberpropertytogroup bin/test
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=85
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]


[releaser]
recipe = zc.recipe.egg
eggs =
    zest.releaser
    sphinx_rtd_theme

[zopepy]
recipe = zc.recipe.egg
interpreter = zopepy
eggs =
    ${instance:eggs}
script = zopepy

[i18ndude]
recipe = zc.recipe.egg
eggs =
    i18ndude

[black]
recipe = zc.recipe.egg
eggs =
    black

[isort]
recipe = zc.recipe.egg
eggs =
    isort

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder

[versions]
# Sphinx
Sphinx = 1.3.1
docutils = 0.13
Pygments = 2.0.2
