[buildout]
extends =
    https://raw.githubusercontent.com/kitconcept/buildout-plone-3.3.x/master/buildout.cfg
    https://raw.githubusercontent.com/kitconcept/buildout-plone-3.3.x/master/versions.cfg
    http://good-py.appspot.com/release/plone.app.registry/1.0b2?plone=3.3.6

eggs +=
    Pillow
    pas.plugins.memberpropertytogroup

develop = .

[instance]
eggs +=
    pas.plugins.memberpropertytogroup[plone3]

#[test]
#recipe = zc.recipe.testrunner
#eggs = ${instance:eggs}
#defaults = ['-s', 'pas.plugins.memberpropertytogroup', '--auto-color', '--auto-progress']

[versions]
zope.testrunner = 4.0.0
plone.recipe.codeanalysis = 1.1
flake8 = 1.7.0
setuptools = 0.6.c11
zc.buildout = 1.7.1
Pillow = 1.7.8
